body {
    margin: auto;
    background-color:blanchedalmond;
}
.userentry {
    width: 300px;
    /* display: inline-block; */
}

.library {
    padding: 30px 30px;

}
.library-inner {
    max-width: 900px;
    min-width: 300px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 45px;
    margin: 0 auto;
    border-style: groove;
    padding: 20px;
}

.library-generated {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 45px;
    margin: 0 auto;

}

.test {
    background-color: aquamarine;
    padding: 20px 20px;
    margin: 0 10px;
}

.added {
    background-color: aquamarine;
    padding: 30px;
    margin: 10px 10px;
}

.del {
    background-color: red;
    font-size: 12px;
    color:white;
    padding: 5px;
    width: fit-content;
    margin: 10px 10px;
    border: none;
    border-radius: 3px;
    float: right;

}

.del:hover {
    background-color: rgb(122, 0, 0);
    box-shadow: 4px 4px 4px rgb(165, 165, 165);
}

.change {
    background-color: rgb(11, 145, 255);
    font-size: 12px;
    color:white;
    padding: 5px;
    width: fit-content;
    margin: 10px 0px;
    border: none;
    border-radius: 3px;
}

.change:hover {
    background-color: rgb(89, 180, 255);
    box-shadow: 4px 4px 4px rgb(165, 165, 165);
}
